<div class="container">
  <div class="clearfix">
    <div class="footer-logo"><a href="#">CMS内容管理系统</a></div>
    <dl class="footer-nav">
      <dt class="nav-title">如果</dt>
      <dd class="nav-item"><a href="#">您有</a></dd>
    </dl>
    <dl class="footer-nav">
      <dt class="nav-title">任何的</dt>
      <dd class="nav-item"><a href="#">意见</a></dd>
      <dd class="nav-item"><a href="#">问题</a></dd>
    </dl>
    <dl class="footer-nav">
      <dt class="nav-title">我们</dt>
      <dd class="nav-item"><a href="#">暂时</a></dd>
    </dl>
    <dl class="footer-nav">
      <dt class="nav-title">不予处理</dt>
      <dd class="nav-item"><a href="#">多谢合作</a></dd>
    </dl>
  </div>
  <div class="footer-copyright text-center">
      Copyright © 2016 Heilongjiang New-media Group(by dolacmeo).All rights reserved.
  </div>
</div>