<div class="content-row">
  <h2 class="content-row-title">开启用户注册
    <span>(Used for
      <code>checkbox</code>or
      <code>radio</code>)</span>
  </h2>
  <div class="row">
    <div class="col-md-4">
      <label class="toggle">
        <input type="checkbox">
        <span class="handle"></span>
      </label>
    </div>
    <div class="col-md-4">
      <label class="toggle">
        <input type="checkbox" checked="">
        <span class="handle"></span>
      </label>
    </div>
    <div class="col-md-4">
      <label class="toggle">
        <input type="checkbox" disabled="">
        <span class="handle"></span>
      </label>
    </div>
  </div>
</div>